.todo-item {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  border: 1px solid #000;

  &:nth-of-type(2n+1) {
    border-top: 1px solid #000;
  }

  .check-item {
    margin-right: 10px;
  }
}