.todo-box {
  width: 500px;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;

  .todo-input {
    width: 100%;
  }

  .todo-list {
    border: 1px solid #000;
    min-height: 10px
  }

  .state-box {
    display: flex;
  }
}